/**
* Default Lollipop style
*/
#lollipop-block-layer{
  background-color:rgba(0,0,0,.7);
}
#lollipop-popup, #lollipop-popup  *,
#lollipop-popup  *::after,
#lollipop-popup  *::before{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
#lollipop-popup{
  border:8px solid #666;
  border-radius:6px;
  font-family:arial;
  color:#333;
  background-color:#fcfcfc;
}
@media 
only screen and (max-device-width: 480px),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 300dpi) {
  #lollipop-popup{
    width:90%!important;
    min-width:0!important;
    max-width:9999px!important;;
  }
}
#lollipop-popup-header{
  background-color:#f2f2f2;
  padding:12px;
  border-bottom:1px solid #ccc;
  text-shadow:0px 1px #fff;
  font-size:16px;
}
#lollipop-popup-body{
  padding:12px;
  overflow:auto;
  position: relative;

}
/* sel clear */
/*#lollipop-popup-body:after {
  content: "";
  display: table;
  clear: both;
}*/
#lollipop-popup-footer{
  text-align:center;
  border-top:1px solid #ccc;
  background-color:#f2f2f2;
  padding:12px;
}
#lollipop-popup-footer .button{
  outline:none;
  border:1px solid #999;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  line-height:normal;
  font-size:15px;
  height:34px;
  line-height:34px;
  background-color:#ddd;
  padding:0 15px;
  margin:0 6px 6px;
  color:#333;
  text-shadow:0px 1px #efefef;
  border-radius:4px;
  box-shadow:inset 0px 10px 10px #eee, inset 0px -10px 10px #ccc,0px 1px 2px #ccc;
  cursor:pointer;
  vertical-align:top;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
/* removes dashed outline from buttons*/
#lollipop-popup-footer .button::-moz-focus-inner {border: 0;}

#lollipop-popup-footer .button,
#lollipop-popup-footer .button:active,
#lollipop-popup-footer .button:visited,
#lollipop-popup-footer .button:hover{
  text-decoration:none;
  display:inline-block;
}
#lollipop-popup-footer .button:focus{
  border:1px solid #222;
}

/* for animations */
@keyframes rot {
  0% {
    -moz-transform: rotate(0deg);
    -webki-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

.lollipop-loading #lollipop-popup-body::after {
  content:'';
  display: block;
  font-size: 12px;
  width: 120px;
  height: 120px;
  position: absolute;
  background-color: transparent;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  border-width: 24px;
  border-color: #ccc #333 #333;
  border-style: solid;
  border-radius: 50%;
  -moz-animation: rot 2s ease-in-out infinite;
  -webkit-animation: rot 2s ease-in-out infinite;
  animation: rot 2s ease-in-out infinite;
}
#lollipop-popup.lollipop-loading {
  background-color: transparent;
  border:0;
}
