/**
* Default Lollipop style
*/
#lollipop-block-layer{
  background-color:rgba(0,0,0,.7);
}
#lollipop-popup{
  border:8px solid #666;
  border-radius:6px;
  font-family:arial;
  color:#333;
  background-color:#fcfcfc;
}
#lollipop-popup-header{
  background-color:#f2f2f2;
  padding:10px;
  border-bottom:1px solid #ccc;
  text-shadow:0px 1px #fff;
}
#lollipop-popup-body{
  padding:10px 10px 50px;
}
#lollipop-popup-footer{
  text-align:center;
  border-top:1px solid #ccc;
  background-color:#f2f2f2;
  padding:10px;
}
#lollipop-popup-footer button,
#lollipop-popup-footer .button{
  outline:none;
  border:1px solid #999;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  line-height:normal;
  font-size:15px;
  height:34px;
  line-height:34px;
  background-color:#ddd;
  padding:0 15px;
  margin:0 0 0 10px;
  color:#333;
  text-shadow:0px 1px #efefef;
  border-radius:4px;
  box-shadow:inset 0px 10px 10px #eee, inset 0px -10px 10px #ccc,0px 1px 2px #ccc;
  cursor:pointer;
  
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  vertical-align:top;
}
#lollipop-popup-footer .button,
#lollipop-popup-footer .button:active,
#lollipop-popup-footer .button:visited,
#lollipop-popup-footer .button:hover{
  text-decoration:none;
  display:inline-block;
}
#lollipop-popup-footer button:first-child,
#lollipop-popup-footer .button:first-child{margin:0;}